{% extends "blog/base.html" %}
{% load crispy_forms_tags %} {% block content %}
<div class="dropdown-menu">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join us today</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">New around here? Sign in</a>
</div>
{% endblock %}
